body {
    margin: 0;
}

.hover-scroll {
    overflow: auto;
    transition: visibility 0.5s;
    visibility: hidden;
}

.for-mobile .hover-scroll,
.hover-scroll-content,
.hover-scroll:hover,
.hover-scroll:focus {
    visibility: visible;
    transition: visibility 0.5s;
    opacity: 1;
}

.MuiCard-root .show-on-card-hover {
    opacity: 0;
    transition: opacity 0.5s;
}

.MuiCard-root:hover .show-on-card-hover {
    opacity: 1;
}

.repeated-name-or-number {
    color: red;
}

.Toastify__toast-container:has(.Toastify__toast-container--center) {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: min-content;
}

.lottie-round {
    transform: scale(1.5);
}
