body {
    margin: 0;
}

.hover-scroll {
    overflow: auto;
    transition: visibility 0.5s;
    visibility: hidden;
}

.hover-scroll-content,
.hover-scroll:hover,
.hover-scroll:focus {
    visibility: visible;
    transition: visibility 0.5s;
    opacity: 1;
}

.MuiCard-root .show-on-card-hover {
    opacity: 0;
    transition: opacity 0.5s;
}

.MuiCard-root:hover .show-on-card-hover {
    opacity: 1;
}

.repeated-name-or-number {
    color: red;
}
